<div class="callout | bg-soft-blue">
    <div class="callout-wrapper | container">
      <span class="callout-heading | uppercase">35,000+ already joined</span>
      <span class="callout-sub-heading">Stay up-to-date with what we're doing</span>

      <form action="POST" novalidate class="callout-form" id="callout-form">
        <div class="form-field">
          <label for="email" aria-label="Email">
            <input type="email" placeholder="Enter your email address" name="email" id="email">
            <svg class="icon icon-utilities">
              <use xlink:href="/assets/sprites/icon-utilities.svg#icon-error"></use>
            </svg>
          </label>
          <span class="form-field-error-message">Whoops, make sure it's an email</span>
        </div>
        <button type="submit" class="btn-callout">Contact Us</button>
      </form>
    </div>
  </div>