<div class="dropdown-container">
    <button data-type="dropdown" aria-label="What is Bookmark?">
      <span class="dropdown-text | color-very-dark-blue">What is Bookmark?</span>
      <svg class="icon icon-utilities">
        <use xlink:href="/assets/sprites/icon-utilities.svg#icon-arrow"></use>
      </svg>
    </button>

    <div class="dropdown-content">
      <p class="| color-grayish-blue">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt 
        justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.
      </p>
    </div>
  </div>

<div class="dropdown-container">
  <button data-type="dropdown" aria-label="How can I request a new browser?">
    <span class="dropdown-text | color-very-dark-blue">How can I request a new browser?</span>
    <svg class="icon icon-utilities">
      <use xlink:href="/assets/sprites/icon-utilities.svg#icon-arrow"></use>
    </svg>
  </button>

  <div class="dropdown-content">
    <p class="content | color-grayish-blue">
      Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. 
      Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, 
      ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. 
      Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
    </p>
  </div>
</div>


<div class="dropdown-container">
  <button data-type="dropdown" aria-label="Is there a mobile app?">
    <span class="dropdown-text | color-very-dark-blue">Is there a mobile app?</span>
    <svg class="icon icon-utilities">
      <use xlink:href="/assets/sprites/icon-utilities.svg#icon-arrow"></use>
    </svg>
  </button>

  <div class="dropdown-content">
    <p class="content | color-grayish-blue">
      Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum 
      urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed 
      sollicitudin ex et ultricies bibendum.
    </p>
  </div>
</div>


<div class="dropdown-container">
  <button data-type="dropdown" aria-label="What about other Chronium browsers?">
    <span class="dropdown-text | color-very-dark-blue">What about other Chronium browsers?</span>
    <svg class="icon icon-utilities">
      <use xlink:href="/assets/sprites/icon-utilities.svg#icon-arrow"></use>
    </svg>
  </button>

  <div class="dropdown-content">
    <p class="content | color-grayish-blue">
      Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam 
      vitae neque eget nisl gravida pellentesque non ut velit.
    </p>
  </div>
</div>