<div class="extension-card">
  <div class="extension-wrapper">
    <div class="extension-content">
      <svg class="icon icon-browsers">
        <use xlink:href="/assets/sprites/icon-browsers.svg#logo-firefox"></use>
      </svg>
      <span class="extension-title | fw-500 color-very-dark-blue">Add to Firefox</span>
      <span class="extension-desc | color-grayish-blue">Minimum version 55</span>
    </div>
    <div class="extension-action">
      <button class="extension-btn">Add & Install Extension</button>
    </div>
  </div>
</div>

<div class="extension-card">
  <div class="extension-wrapper">
    <div class="extension-content">
      <svg class="icon icon-browsers">
        <use xlink:href="/assets/sprites/icon-browsers.svg#logo-opera"></use>
      </svg>
      <span class="extension-title | fw-500 color-very-dark-blue">Add to Opera</span>
      <span class="extension-desc | color-grayish-blue">Minimum version 46</span>
    </div>
    <div class="extension-action">
      <button class="extension-btn">Add & Install Extension</button>
    </div>
  </div>
</div>

<div class="extension-card">
  <div class="extension-wrapper">
    <div class="extension-content">
      <svg class="icon icon-browsers">
        <use xlink:href="/assets/sprites/icon-browsers.svg#logo-chrome"></use>
      </svg>
      <span class="extension-title | fw-500 color-very-dark-blue">Add to Chrome</span>
      <span class="extension-desc | color-grayish-blue">Minimum version 62</span>
    </div>
    <div class="extension-action">
      <button class="extension-btn">Add & Install Extension</button>
    </div>
  </div>
</div>