<header>
    <div class="header-wrapper">
      <a href="#" data-type="home" aria-label="Bookmark Logo">
        <!-- Insert Bookmark logo -->
        <svg class="icon icon-bookmark">
          <use xlink:href="/assets/sprites/icon-bookmark.svg#logo-bookmark"></use>
        </svg>
      </a>

      <nav class="primary-nav">
        <ul class="list list-pages">
          <li>
            <a class="uppercase" href="#" data-type="link">Features</a>
          </li>
          <li>
            <a class="uppercase" href="#" data-type="link">Pricing</a>
          </li>
          <li>
            <a class="uppercase" href="#" data-type="link">Contact</a>
          </li>
          <li>
            <a class="uppercase" href="#" data-type="button">Login</a>
          </li>
        </ul>
        <ul class="list list-social-media">
          <li>
            <a href="#" data-type="social" aria-label="Facebook">
              <!-- Insert svgs -->
              <svg class="icon icon-social-media">
                <use xlink:href="/assets/sprites/icon-social-media.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" data-type="social" aria-label="twitter">
              <!-- Insert svgs -->
              <svg class="icon icon-social-media">
                <use xlink:href="/assets/sprites/icon-social-media.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <button class="btn-nav">
        <svg class="icon icon-utilities icon-menu">
          <use xlink:href="/assets/sprites/icon-utilities.svg#icon-hamburger"></use>
        </svg>
        <svg class="icon icon-utilities icon-close">
          <use xlink:href="/assets/sprites/icon-utilities.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </header>