<!-- Icon bookmark -->
<svg class="icon icon-bookmark">
  <use xlink:href="/assets/sprites/icon-bookmark.svg#logo-bookmark"></use>
</svg>

<!-- Icon Social Media -->
<svg class="icon icon-social-media">
    <use xlink:href="/assets/sprites/icon-social-media.svg#icon-twitter"></use>
  </svg>
  <svg class="icon icon-social-media">
    <use xlink:href="/assets/sprites/icon-social-media.svg#icon-facebook"></use>
  </svg>

<!-- Icon browsers -->
  <svg class="icon icon-browsers">
    <use xlink:href="/assets/sprites/icon-browsers.svg#logo-opera"></use>
  </svg>
  <svg class="icon icon-browsers">
    <use xlink:href="/assets/sprites/icon-browsers.svg#logo-firefox"></use>
  </svg>
  <svg class="icon icon-browsers">
    <use xlink:href="/assets/sprites/icon-browsers.svg#logo-chrome"></use>
  </svg>

  <!-- Icon features -->

  <svg class="icon icon-features">
    <use xlink:href="/assets/sprites/icon-features.svg#illustration-features-tab-3"></use>
  </svg>
  <svg class="icon icon-features">
    <use xlink:href="/assets/sprites/icon-features.svg#illustration-features-tab-2"></use>
  </svg>
  <svg class="icon icon-features">
    <use xlink:href="/assets/sprites/icon-features.svg#illustration-features-tab-1"></use>
  </svg>

  <!-- Icon utilities -->
  <svg class="icon icon-utilities">
    <use xlink:href="/assets/sprites/icon-utilities.svg#icon-hamburger"></use>
  </svg>
  <svg class="icon icon-utilities">
    <use xlink:href="/assets/sprites/icon-utilities.svg#icon-error"></use>
  </svg>
  <svg class="icon icon-utilities">
    <use xlink:href="/assets/sprites/icon-utilities.svg#icon-close"></use>
  </svg>
  <svg class="icon icon-utilities">
    <use xlink:href="/assets/sprites/icon-utilities.svg#icon-arrow"></use>
  </svg>