<div class="container bg-soft-blue">
    <div class="form-field">
      <label for="email" aria-label="Email">
        <input type="email" name="email" id="email">
        <svg class="icon icon-utilities">
          <use xlink:href="/assets/sprites/icon-utilities.svg#icon-error"></use>
        </svg>
      </label>
      <span class="form-field-error-message">Whoops, make sure it's an email</span>
    </div>
  
    <div class="form-field form-field-error">
      <label for="email" aria-label="Email">
        <input type="email" name="email" id="email">
        <svg class="icon icon-utilities">
          <use xlink:href="/assets/sprites/icon-utilities.svg#icon-error"></use>
        </svg>
      </label>
      <span class="form-field-error-message">Whoops, make sure it's an email</span>
    </div>
  </div>