<a href="#" data-type="home" aria-label="Bookmark Logo">
  <!-- Insert Bookmark logo -->
  <svg class="icon icon-bookmark">
    <use xlink:href="/assets/sprites/icon-bookmark.svg#logo-bookmark"></use>
  </svg>
</a>

  <!-- Desktop Nav -->
  <a href="#" data-type="link">Features</a>

  <!-- Desktop Nav - Login -->
  <a href="#" data-type="button" data-color="accent">Login</a>

  <!-- Desktop Hero -->
  <a href="#" data-type="button" data-color="primary">Get it on Chrome</a>
  <a href="#" data-type="button" data-color="neutral">Get it on Chrome</a>

 <!-- Desktop Features -->
 <a href="#" data-type="button" data-color="primary">More info</a>
 <!-- Desktop FAQ -->
 <a href="#" data-type="button" data-color="primary">More info</a>

  <!-- Desktop Footer -->
  <a href="#" data-type="link">Features</a>

  <!-- Desktop Footer SM icons -->
  <div class="bg-very-dark-blue">
    <a href="#" data-type="social" aria-label="Facebook">
      <!-- Insert svgs -->
      <svg class="icon icon-social-media">
        <use xlink:href="/assets/sprites/icon-social-media.svg#icon-facebook"></use>
      </svg>
    </a>

    <a href="#" data-type="social" aria-label="twitter">
      <!-- Insert svgs -->
      <svg class="icon icon-social-media">
        <use xlink:href="/assets/sprites/icon-social-media.svg#icon-twitter"></use>
      </svg>
    </a>

    <a href="#" data-type="home" data-color="white" aria-label="Bookmark Logo">
      <!-- Insert Bookmark logo -->
      <svg class="icon icon-bookmark">
        <use xlink:href="/assets/sprites/icon-bookmark.svg#logo-bookmark"></use>
      </svg>
    </a>
  </div>