<div class="tabs-container">
    <div class="tabs-label">
      <button class="active-tab" aria-label="Simple Bookmarking" data-type="tab-button">
        <span class="tab-label">Simple Bookmarking</span>
      </button>
      <button class="" aria-label="Speedy Searching" data-type="tab-button">
        <span class="tab-label">Speedy Searching</span>
      </button>
      <button class="" aria-label="Easy Sharing" data-type="tab-button">
        <span class="tab-label">Easy Sharing</span>
      </button>
    </div>
    <div class="tabs-content">
      <div class="tabs-content-wrapper active-tab" data-tab-index="1">
        <div class="features-logo">
          <svg class="icon icon-features">
            <use xlink:href="/assets/sprites/icon-features.svg#illustration-features-tab-1"></use>
          </svg>
        </div>
        <div class="feature-content">
          <span class="feature-title | color-very-dark-blue">Bookmark in one click</span>
          <span class="feature-desc | color-grayish-blue">Organize your bookmarks however you like. Our simple drag-and-drop interface 
            gives you complete control over how you manage your favourite sites.
          </span>
         <a href="#" class="feature-link" data-type="button" data-color="primary">More info</a>
        </div>
      </div>

      <div class="tabs-content-wrapper" data-tab-index="1">
        <div class="features-logo">
          <svg class="icon icon-features">
            <use xlink:href="/assets/sprites/icon-features.svg#illustration-features-tab-2"></use>
          </svg>
        </div>
        <div class="feature-content">
          <span class="feature-title | color-very-dark-blue">Intelligent Search</span>
          <span class="feature-desc | color-grayish-blue">Our powerful search feature will help you find saved sites in no time at all. 
            No need to trawl through all of your bookmarks.
          </span>
         <a href="#" class="feature-link" data-type="button" data-color="primary">More info</a>
        </div>
      </div>

      <div class="tabs-content-wrapper" data-tab-index="1">
        <div class="features-logo">
          <svg class="icon icon-features">
            <use xlink:href="/assets/sprites/icon-features.svg#illustration-features-tab-3"></use>
          </svg>
        </div>
        <div class="feature-content">
          <span class="feature-title | color-very-dark-blue">Share your bookmarks</span>
          <span class="feature-desc | color-grayish-blue">Easily share your bookmarks and collections with others. Create a shareable 
            link that you can send at the click of a button.
          </span>
         <a href="#" class="feature-link" data-type="button" data-color="primary">More info</a>
        </div>
      </div>
    </div>
  </div>