@import './../variables';

.extension-card {
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
    padding: 1.5em;
    border-radius: 10px;
    background-image: url("./images/bg-dots.svg");
    background-repeat: repeat-x;
    background-position: 0 70%;
}

.extension-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.extension-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .75rem;

    .icon {
        width: 75px;
        height: 75px;
    }

    .extension-title {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .extension-desc {
        font-size: .85rem;
    }
}

.extension-action {
    .extension-btn {
        padding: .75em 1.5em;
        border-radius: 5px;
        outline: none;
        background-color: $soft-blue;
        border: 2px solid transparent;
        color: #fff;
        font-size: .9rem;
        transition: all .35s;
        cursor: pointer;

        &:hover, &:focus-within {
            background-color: #fff;
            color: $soft-blue;
            border-color: $soft-blue;
        }
    }
}